# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env